.sidebar{
    background-color: #0e0e0e;
    width: 15%;
    flex-grow: 1;
    border-radius: .3em;
    margin: .5em;
}

ul{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    margin: 2em 3em;
}

ul li{
    font-size: 1.2em;
    font-weight: 600;
}

ul li:hover{
    cursor: pointer;
}

.sidebar_hide{
    display: none;
}

@media screen and (max-width: 800px){
    .sidebar{
        width: auto;
    }
}